.draggable {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

.selectDisable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.selectEnable {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
}

.normal-img {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

.grayscale-img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all 0.5s ease-out;
}

button {
	outline: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif;
	margin: auto;
	max-width: 38rem;
	padding: 2rem;

	text-decoration: none;
}

::-webkit-scrollbar {
	display: none;
}
