name: Build

on: push

jobs:
  release:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      
      - name: Install node
        uses: actions/setup-node@v1
        with:
          node-version: 15.x
      - run: npm ci

      - run: npm run make
      
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, "refs/tags/")
        with:
          files: |
            out/make/squirrel.windows/x64/*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
